.card {
  background: var(--vt-c-white);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  padding: 0.75rem;
  transition: 300ms ease-in-out;
}

.card:hover {
  box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
}

.card-img {
  height: 140px;
  margin-bottom: 0.75rem;
}

.card-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 6px;
}

.card-img div {
  background-image: url('@/assets/images/event-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.75rem;
  justify-content: center;
  color: var(--vt-c-white);
  font-size: 26px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-content.column>div {
  margin-bottom: 10px;
}

.card-content.column {
  flex-direction: column;
  align-items: unset;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card-content__left {
  flex: 1 1 calc(100% - 50px)
}

.card-content__left>div {
  margin-top: 10px;
}

.card__tag {
  position: relative;
  flex: 0 0 50px
}

.card__tag span {
  position: absolute;
  font-size: 10px;
  width: 50px;
  line-height: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--orange-2)
}

.card-row {
  display: flex;
}

.card-row__with-icon+.card-row__with-icon {
  margin-left: 1rem;
}

.card-row__with-icon {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.card-row__with-icon svg {
  margin-right: 10px;
}

.card-row__with-icon .price {
  color: var(--blue);
  font-size: 14px;
}

.card-row__with-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
