/* semantic color variables for this project */
:root {
  --white: #ffffff;
  --black: #000;

  --gray-1: #F8F9FB;
  --gray-2: #EAEDF7;

  --text-color: #6C757D;
  --text-dark: #2F2F2F;

  --blue-1: #EAEDF7;
  --blue-2: #372AA4;

  --orange-1: rgba(255, 106, 44, 0.08);
  --orange-2: #FF6A2C;

  --border-color: #E8E8E8;
  --placeholder-color: #6C757D
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

@font-face {
  font-family: 'br-firma';
  src: local("br-firma"), url('@/assets/fonts/br-firma/BR Firma Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'br-firma';
  src: local("br-firma"), url('@/assets/fonts/br-firma/BR Firma SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'br-firma';
  src: local("br-firma"), url('@/assets/fonts/br-firma/BR Firma Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--gray-1);
  line-height: 1.6;
  font-family: 'br-firma';
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

small,
.small {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--text-dark)
}

/* SLIDE STYLING */
.splide__arrow {
  top: 120px !important;
  transform: unset;
  box-shadow: 0px 4px 10px rgba(36, 79, 190, 0.1);
  background-color: var(--white);
  padding: 10px;
  opacity: 1;
  width: unset;
  height: unset;
}

.splide__arrow:disabled {
  display: none;
}

.splide__arrow svg {
  width: 11px;
  height: 11px;
  fill: var(--blue-2)
}

.splide__arrow--prev {
  left: -1rem
}

.splide__arrow--next {
  right: -1rem
}
